.header{
	width:100%;
	height:50px;
	line-height:50px;
	background:gray;
}

.header a.header_link{
	display:inline-block;
	vertical-align:middle;
}

.header a.header_link h2, .header a.header_link h4, .header a.header_link h3{
	margin:0 0 0 10px;
}
